.navbar{
    color:white;
    font-size: 14px;

    .container{
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left{
            display: flex;
            align-items: center;
            img{
                height: 25px;
                margin-right: 40px;
                cursor: pointer;
            }

            span{
                margin-left: 10px;
                font-size: 15px;
                // font-weight: bold;
                cursor: pointer;
            }
        }
        
        .right{
            display: flex;
            align-items: center;
            img{
                height: 30px;
                width: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}