.navbar{
    color:white;
    font-size: 14px;

    .container{
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left{
            display: flex;
            align-items: center;
            img{
                height: 25px;
                margin-right: 40px;
                cursor: pointer;
            }

            span{
                margin-left: 10px;
                font-size: 15px;
                // font-weight: bold;
                cursor: pointer;
            }
        }
        
        .right{
            display: flex;
            align-items: center;

            .icon{
                margin: 0px 20px;
                cursor: pointer;
            }

            img{
                height: 30px;
                width: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }

            .profile{
                .options{
                    display: none;
                }

                &:hover{
                    .options{
                        display: flex;
                        flex-direction: column;
                    }// 20:55
                }
            }
        }
    }
}